.joke {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.joke .container {
  width: 90%;
  margin: 20px 10px;
  padding: 15px;
  border: 2px solid rgb(69, 69, 69);
  border-radius: 10px;
}

.joke .container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.joke .container div h2 {
  font-size: 30px;
}
.joke .container div .jokeBtn {
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #0a8ff5;
  border: 2px solid #0a8ff5;
  border-radius: 5px;
}

.joke .display {
  border: 1px solid gray;
  color: rgb(38, 38, 38);
  margin: 20px 0;
  padding: 15px;
  min-height: 90px;
  border-radius: 10px;
}

.joke .container .options {
  flex-direction: column;
  align-items: flex-start;
}

.joke .container .options fieldset {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px soild gray;
  flex-wrap: wrap;
}
.joke .container .options fieldset legend {
  font-size: 18px;
  font-weight: 500px;
  margin: auto 10px;
  padding: auto 10px;
}
.joke .container .options fieldset div {
  margin: 5px;
}

.joke .container .options fieldset div label {
  margin: auto 10px;
}
